/*body {*/
/*    display: flex;*/

/*    background-color: #333;*/

/*    color: #fff;*/

/*    justify-content: center;*/

/*    align-items: center;*/

/*    height: 100vh; !* Занимает всю высоту экрана *!*/

/*    margin: 0;*/

/*    font-family: Arial, sans-serif;*/
/*}*/

body {
    background-color: #333;
    color: #9ce3c3;
}

h1 {
    text-align: center; /* Центрирует заголовок */
}

.container {
    display: flex;
    color: #fff;
    align-items: center;
    margin: 0;
}
a {
    color: #48cb90;
}